In [1]:
import pandas as pd
import numpy as np

In [2]:
energy = pd.read_excel("Energy Indicators.xls", skiprows=16, skipfooter=38)
energy = energy.iloc[:, 2:]
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capital', '% Renewable']
energy = energy.replace(r'.*\..*', np.nan, regex = True)
energy.loc[0, 'Energy Supply'] = 'Gigajoules'
energy.loc[1:, 'Energy Supply'] = energy.loc[1:, 'Energy Supply'] * 1000000
energy['Country'] = energy['Country'].str.replace(r'\d+', '', regex=True)
energy['Country'] = energy['Country'].replace({
    "Republic of Korea":  "South Korea",

    "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "China, Hong Kong Special Administrative Region": "Hong Kong"
})
energy

,Country,Energy Supply,Energy Supply per Capital,% Renewable
0,NaN,Gigajoules,Gigajoules,%
1,Afghanistan,321000000,10,78.66928
2,Albania,102000000,35,100
3,Algeria,1959000000,51,0.55101
4,American Samoa,NaN,NaN,0.641026
...,...,...,...,...
223,Viet Nam,2554000000,28,45.32152
224,Wallis and Futuna Islands,0,26,0
225,Yemen,344000000,13,0
226,Zambia,400000000,26,99.71467
227,Zimbabwe,480000000,32,52.53612

In [4]:
gdp = pd.read_csv('data.csv', skiprows = 4)
gdp['Country Name'] = gdp['Country Name'].replace({
    
    "Korea, Rep." : "South Korea",
    "Iran, Islamic Rep.": "Iran",
    "Hong Kong SAR, China": "Hong Kong"

})
gdp.rename(columns={'Country Name': 'Country'}, inplace=True)

gdp_filtered = gdp[["Country"] + [str(year) for year in range(2006, 2016)]]

gdp_filtered

,Country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,2.469783e+09,2.677641e+09,2.843025e+09,2.553793e+09,2.453597e+09,2.637859e+09,2.615208e+09,2.727850e+09,2.790850e+09,2.962907e+09
1,Africa Eastern and Southern,5.802408e+11,6.655987e+11,7.135021e+11,7.154853e+11,8.494097e+11,9.454391e+11,9.529986e+11,9.623949e+11,9.787083e+11,8.982778e+11
2,Afghanistan,6.971758e+09,9.747886e+09,1.010930e+10,1.241615e+10,1.585667e+10,1.780510e+10,1.990733e+10,2.014642e+10,2.049713e+10,1.913422e+10
3,Africa Western and Central,3.981397e+11,4.668837e+11,5.693217e+11,5.099177e+11,6.001527e+11,6.838881e+11,7.399381e+11,8.369374e+11,8.974157e+11,7.717669e+11
4,Angola,5.238103e+10,6.526642e+10,8.853867e+10,7.030720e+10,8.379947e+10,1.117897e+11,1.280529e+11,1.323391e+11,1.359668e+11,9.049642e+10
...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,5.181777e+09,5.015895e+09,5.343951e+09,6.341614e+09,6.163484e+09,6.735329e+09,7.074395e+09,6.295848e+09
262,"Yemen, Rep.",1.906314e+10,2.165053e+10,2.691086e+10,2.513028e+10,3.090675e+10,3.272642e+10,3.540133e+10,4.041523e+10,4.322859e+10,4.244449e+10
263,South Africa,3.038587e+11,3.330771e+11,3.161313e+11,3.297541e+11,4.173638e+11,4.581995e+11,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11
264,Zambia,1.275686e+10,1.405696e+10,1.791086e+10,1.532834e+10,2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10
265,Zimbabwe,5.443896e+09,5.291950e+09,4.415703e+09,9.665793e+09,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10

In [5]:
ScimEn = pd.read_excel("scim.xlsx")
ScimEn_filtered = ScimEn[ScimEn['Rank'] <= 15]
ScimEn_filtered
#

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,402188,400158,5077232,3511673,12.62,343
1,2,United States,Northern America,208042,203356,3540288,1004877,17.02,458
2,3,India,Asiatic Region,81853,79757,968523,369256,11.83,237
3,4,Japan,Asiatic Region,58342,57735,717946,154848,12.31,228
4,5,United Kingdom,Western Europe,56288,54713,1095371,179764,19.46,293
5,6,Germany,Western Europe,50906,49773,777362,160302,15.27,252
6,7,Russian Federation,Eastern Europe,46186,45868,217996,96688,4.72,112
7,8,Canada,Northern America,41209,40390,915491,142691,22.22,284
8,9,Italy,Western Europe,38700,36909,639473,147302,16.52,209
9,10,South Korea,Asiatic Region,38362,38046,618762,105419,16.13,198
10,11,Iran,Middle East,32080,31725,634135,177894,19.77,198
11,12,France,Western Europe,30810,30139,547122,89958,17.76,221
12,13,Spain,Western Europe,29840,29156,614087,104845,20.58,216
13,14,Australia,Pacific Region,27993,27254,608021,84747,21.72,234
14,15,Brazil,Latin America,27316,26888,307607,71778,11.26,154

In [6]:
def answer_one():
    conclusion = energy.merge(ScimEn_filtered).merge(gdp_filtered)
    conclusion.set_index('Country', inplace=True)
    conclusion = conclusion.sort_values(by="Rank")
    return conclusion
answer_one()

,Energy Supply,Energy Supply per Capital,% Renewable,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,,
China,127191000000,93,19.75491,1,Asiatic Region,402188,400158,5077232,3511673,12.62,...,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13
United States,90838000000,286,11.57098,2,Northern America,208042,203356,3540288,1004877,17.02,...,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,1.625397e+13,1.688068e+13,1.760814e+13,1.829502e+13
India,33195000000,26,14.96908,3,Asiatic Region,81853,79757,968523,369256,11.83,...,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12
Japan,18984000000,149,10.23282,4,Asiatic Region,58342,57735,717946,154848,12.31,...,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,7920000000,124,10.60047,5,Western Europe,56288,54713,1095371,179764,19.46,...,2.708442e+12,3.090510e+12,2.929412e+12,2.412840e+12,2.485483e+12,2.663806e+12,2.707090e+12,2.784854e+12,3.064708e+12,2.927911e+12
Germany,13261000000,165,17.90153,6,Western Europe,50906,49773,777362,160302,15.27,...,3.046309e+12,3.484057e+12,3.808786e+12,3.479801e+12,3.468154e+12,3.824829e+12,3.597897e+12,3.808086e+12,3.965801e+12,3.423568e+12
Russian Federation,30709000000,214,17.28868,7,Eastern Europe,46186,45868,217996,96688,4.72,...,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,10431000000,296,61.94543,8,Northern America,41209,40390,915491,142691,22.22,...,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,6530000000,109,33.66723,9,Western Europe,38700,36909,639473,147302,16.52,...,1.958564e+12,2.222524e+12,2.417508e+12,2.209484e+12,2.144936e+12,2.306974e+12,2.097929e+12,2.153226e+12,2.173256e+12,1.845428e+12
South Korea,11007000000,221,2.279353,10,Asiatic Region,38362,38046,618762,105419,16.13,...,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.143672e+12,1.253290e+12,1.278047e+12,1.370633e+12,1.484489e+12,1.466039e+12
France,10597000000,166,17.02028,12,Western Europe,30810,30139,547122,89958,17.76,...,2.317862e+12,2.655817e+12,2.926803e+12,2.700076e+12,2.646230e+12,2.870409e+12,2.683007e+12,2.816078e+12,2.861236e+12,2.442483e+12
Spain,4923000000,106,37.96859,13,Western Europe,29840,29156,614087,104845,20.58,...,1.261847e+12,1.476746e+12,1.636115e+12,1.496588e+12,1.427989e+12,1.487569e+12,1.330995e+12,1.362187e+12,1.380245e+12,1.206165e+12
Australia,5386000000,231,11.81081,14,Pacific Region,27993,27254,608021,84747,21.72,...,7.484176e+11,8.550075e+11,1.056112e+12,9.287621e+11,1.148838e+12,1.398611e+12,1.547532e+12,1.577123e+12,1.468265e+12,1.351296e+12
Brazil,12149000000,59,69.64803,15,Latin America,27316,26888,307607,71778,11.26,...,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,2.465228e+12,2.472820e+12,2.456044e+12,1.802212e+12

In [7]:
df = answer_one()
def answer_two():
    needed_df = df.loc[:,'2006':'2015']
    needed_df['avgGDP'] = needed_df.mean(axis=1,skipna=True)
    needed_df = needed_df[['avgGDP']]
    return needed_df.sort_values(by='avgGDP', ascending=False)
answer_two()

                          avgGDP
Country
United States       1.572243e+13
China               6.927707e+12
Japan               5.239642e+12
Germany             3.590729e+12
United Kingdom      2.777505e+12
France              2.692000e+12
Italy               2.152983e+12
Brazil              1.988889e+12
Russian Federation  1.666746e+12
Canada              1.616359e+12
India               1.602352e+12
Spain               1.406644e+12
South Korea         1.221328e+12
Australia           1.207997e+12

In [8]:
def answer_three():
    row = answer_two().index[5]
    changes = df.loc[row, '2015'] - df.loc[row, '2006']
    return changes.item()
   
answer_three()

124621907951.68018

In [9]:
def answer_four():
    df['Ratio'] = df['Self-citations']/df['Citations']
    max_ratio = df['Ratio'].max()
    country_with_max_value = df[df['Ratio'] == max_ratio].index[0]
    return(country_with_max_value, max_ratio.item())
answer_four()

('China', 0.6916510807463594)

In [21]:
def answer_five():
    df['Population'] = df['Energy Supply']/df['Energy Supply per Capital']
   
    needed_answer = df['Population'].sort_values(ascending=False).index[2]
    return needed_answer
answer_five()
df

,Energy Supply,Energy Supply per Capital,% Renewable,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,...,2009,2010,2011,2012,2013,2014,2015,Ratio,Population,Documents per person
Country,,,,,,,,,,,,,,,,,,,,,
China,127191000000,93,19.75491,1,Asiatic Region,402188,400158,5077232,3511673,12.62,...,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13,0.691651,1367645161.290323,0.000293
United States,90838000000,286,11.57098,2,Northern America,208042,203356,3540288,1004877,17.02,...,1.447807e+13,1.504897e+13,1.559973e+13,1.625397e+13,1.688068e+13,1.760814e+13,1.829502e+13,0.283840,317615384.615385,0.00064
India,33195000000,26,14.96908,3,Asiatic Region,81853,79757,968523,369256,11.83,...,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12,0.381257,1276730769.230769,0.000062
Japan,18984000000,149,10.23282,4,Asiatic Region,58342,57735,717946,154848,12.31,...,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12,0.215682,127409395.973154,0.000453
United Kingdom,7920000000,124,10.60047,5,Western Europe,56288,54713,1095371,179764,19.46,...,2.412840e+12,2.485483e+12,2.663806e+12,2.707090e+12,2.784854e+12,3.064708e+12,2.927911e+12,0.164112,63870967.741935,0.000857
Germany,13261000000,165,17.90153,6,Western Europe,50906,49773,777362,160302,15.27,...,3.479801e+12,3.468154e+12,3.824829e+12,3.597897e+12,3.808086e+12,3.965801e+12,3.423568e+12,0.206213,80369696.969697,0.000619
Russian Federation,30709000000,214,17.28868,7,Eastern Europe,46186,45868,217996,96688,4.72,...,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12,0.443531,143500000.0,0.00032
Canada,10431000000,296,61.94543,8,Northern America,41209,40390,915491,142691,22.22,...,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12,0.155863,35239864.864865,0.001146
Italy,6530000000,109,33.66723,9,Western Europe,38700,36909,639473,147302,16.52,...,2.209484e+12,2.144936e+12,2.306974e+12,2.097929e+12,2.153226e+12,2.173256e+12,1.845428e+12,0.230349,59908256.880734,0.000616
South Korea,11007000000,221,2.279353,10,Asiatic Region,38362,38046,618762,105419,16.13,...,9.439419e+11,1.143672e+12,1.253290e+12,1.278047e+12,1.370633e+12,1.484489e+12,1.466039e+12,0.170371,49805429.864253,0.000764
France,10597000000,166,17.02028,12,Western Europe,30810,30139,547122,89958,17.76,...,2.700076e+12,2.646230e+12,2.870409e+12,2.683007e+12,2.816078e+12,2.861236e+12,2.442483e+12,0.164420,63837349.39759,0.000472
Spain,4923000000,106,37.96859,13,Western Europe,29840,29156,614087,104845,20.58,...,1.496588e+12,1.427989e+12,1.487569e+12,1.330995e+12,1.362187e+12,1.380245e+12,1.206165e+12,0.170733,46443396.226415,0.000628
Australia,5386000000,231,11.81081,14,Pacific Region,27993,27254,608021,84747,21.72,...,9.287621e+11,1.148838e+12,1.398611e+12,1.547532e+12,1.577123e+12,1.468265e+12,1.351296e+12,0.139382,23316017.316017,0.001169
Brazil,12149000000,59,69.64803,15,Latin America,27316,26888,307607,71778,11.26,...,1.666996e+12,2.208838e+12,2.616156e+12,2.465228e+12,2.472820e+12,2.456044e+12,1.802212e+12,0.233343,205915254.237288,0.000131

In [11]:
def answer_six():
    df['Documents per person'] = df['Citable documents']/ df['Population']
    corr = df['Documents per person'].corr(df['Energy Supply per Capital'])
    return corr.item()
answer_six()

0.696319699358885

In [44]:
def answer_seven():
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    data = pd.DataFrame({"Continent" : ['Asia', 'Australia', 'Europe', 
                        'North America', 'South America'], "size" : [0] * 5,
                          'sum' : [0.0] * 5, 'mean' : [0.0] * 5, 'std' : [0.0] * 5})
    data = data.set_index('Continent')
    sum_dict = {'Asia': [],
                 'North America' : [],
                 'Europe' : [],
                 'Australia': [],
                 'South America' : []
                 }
    std_dict = {'2006': 0,
                 '2007' : 0,
                 '2008' : 0,
                 '2009': 0,
                 '2010' : 0,
                 '2011':0,
                 '2012':0,
                 '2013':0,
                 '2014':0,
                 '2015':0,
                 
                 
                 }
    for country, continent in ContinentDict.items():
        
        if(country in df.index):
            data.loc[continent, 'size']+=1
            data.loc[continent,'sum'] += (df.loc[country, 'Population'])
            sum_dict[continent] .append(df.loc[country, 'Population'])
            for key in std_dict:
                std_dict[key] = (df.loc[country, key])
            mas = []
            for value in std_dict.values():
                mas.append(value)
            check_std  = np.std(mas)
            if(data.loc[continent, 'std'] == 0.0):
                data.loc[continent, 'std'] = check_std
            else:
                data.loc[continent, 'std'] = np.std([data.loc[continent, 'std'], check_std]) 
            for key in std_dict:
                std_dict[key] = 0
    for index in data.index:
        data.loc[index,'mean'] = sum(sum_dict[index])/(len(sum_dict[index])+1)
    

    
    return data
        

    
answer_seven()

               size           sum          mean           std
Continent
Asia              4  2.821591e+09  5.643182e+08  8.952918e+10
Australia         1  2.331602e+07  1.165801e+07  2.857450e+11
Europe            6  4.579297e+08  6.541852e+07  3.486823e+10
North America     2  3.528552e+08  1.176184e+08  6.132733e+11
South America     1  2.059153e+08  1.029576e+08  4.972238e+11